* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body {
    background-color: black;
}

.headermenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.logo {
    height: auto;
    width: 400px;
    object-fit: contain;
    
}

.menubuttons {
    display: flex;
    justify-content: center;
    
   
}

.menubtn {
    border: none;
    text-decoration: none;
    color: white;
    background: none;
    padding: 10px;
    font-family: 'Cormorant', serif;
    font-family: 'UnifrakturCook', cursive;
    font-size: 1.2rem;
}

.herocontainer {
    background-color: blue;
    display: flex;
    justify-content: space-around;
    height: 80vh;
    align-items: center;
    
}
.heroimage {
    background-color: red;
    height: 300px;
    width: 300px;
    border: 3px solid white;

}
.heroimage img {
    object-fit: scale-down;
    height: auto;
    width: 294px

}
.herotext {
    background-color: red;
    height: 300px;
    width: 300px;
    border: 3px solid white;
}

.footercontainer {
    background-color: green;
    /* without specifics height will be the height of the biggest content (see header) */
    height: 10vh;
    width: auto;
    display: flex;
}

.footertextcontainer {
    background: orange;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerlinkscontainer {
    background-color: purple;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}